body {
  background-color: #202020;
  color: #fff;
}

.intestazione {
  background-image: url("monte-bianco.jpg");
  background-color: #cccccc;
}

.classe_img_con_didascalia {
  float: left;
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

.carousel-item img {
  align-items: center;
  display: flex;
  margin: 0 auto;
}
.wrapper-intestazione {
  height: 100px; /* altezza del wrapper */
  width: 50px; /* larghezza del wrapper */
}
.wrapper-titolo
{
  height: 15px;
}
.wrapper-piatti
{
  height: 250px;
}

.classe_img_con_didascalia p {
  position: absolute;
  left: 0;
  bottom: 0;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
  color: #fff;
  display: none;
  width: 100%;
  padding: 10px;
}

.classe_img_con_didascalia:hover p {
  display: block;
}